In [1]:
import pandas as pd
import re
ruta = "C:/Users/victo/OneDrive/Escritorio/Mapa España/datos_ipi.csv"
df = pd.read_csv(ruta)

In [2]:
#Establecemos los meses como índices de las filas
df.set_index("Unnamed: 0", inplace=True)
# Eliminamos el nombre de los índices (el 'Unnamed: 0')
df.rename_axis(None, inplace=True)

In [3]:
df_copy = df.copy()

In [4]:
df_copy.head()

,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La"
X2023M12,90.504,91.893,86.997,93.551,105.965,83.241,91.972,98.944,86.667,84.725,104.447,94.210,94.252,83.763,77.612,87.335,84.923
X2023M11,99.485,117.919,96.107,100.576,121.827,99.405,116.212,112.129,107.559,98.063,103.393,114.469,119.888,97.485,106.554,109.276,99.738
X2023M10,104.806,106.165,93.357,112.829,118.014,97.543,102.073,111.441,105.152,92.348,100.571,101.654,114.532,101.389,104.691,105.549,100.985
X2023M09,101.853,104.316,93.509,110.561,119.983,92.781,98.201,111.774,100.111,102.339,114.382,92.415,115.964,97.743,106.543,105.261,97.713
X2023M08,95.879,83.581,78.239,115.589,108.282,80.794,72.096,93.837,78.203,76.306,127.808,76.863,85.494,93.095,73.365,66.574,69.487

In [5]:
for i in range(0, len(df), 3):
    df_temporal = df[i:i+3]
    column_means = df_temporal.mean().round(2)
    df_copy.loc[f"Media{i}"] = column_means

In [6]:
df_temporal.head()

,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La"
X2011M03,118.932,107.293,112.479,137.973,124.261,109.319,133.263,120.501,106.654,100.988,119.971,117.646,120.054,97.675,107.738,116.204,144.958
X2011M02,112.508,98.682,102.232,130.197,111.052,99.206,115.262,107.732,94.007,90.559,103.886,104.353,108.532,94.819,99.669,108.128,136.442
X2011M01,114.883,93.419,98.067,128.756,114.608,94.264,112.664,102.650,91.629,83.926,101.761,104.674,107.359,97.893,88.882,94.563,126.987

In [7]:
df_copy

,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La"
X2023M12,90.504,91.893,86.997,93.551,105.965,83.241,91.972,98.944,86.667,84.725,104.447,94.210,94.252,83.763,77.612,87.335,84.923
X2023M11,99.485,117.919,96.107,100.576,121.827,99.405,116.212,112.129,107.559,98.063,103.393,114.469,119.888,97.485,106.554,109.276,99.738
X2023M10,104.806,106.165,93.357,112.829,118.014,97.543,102.073,111.441,105.152,92.348,100.571,101.654,114.532,101.389,104.691,105.549,100.985
X2023M09,101.853,104.316,93.509,110.561,119.983,92.781,98.201,111.774,100.111,102.339,114.382,92.415,115.964,97.743,106.543,105.261,97.713
X2023M08,95.879,83.581,78.239,115.589,108.282,80.794,72.096,93.837,78.203,76.306,127.808,76.863,85.494,93.095,73.365,66.574,69.487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Media141,113.490,100.440,98.790,126.920,119.780,98.200,114.620,97.920,94.930,84.850,96.630,94.540,96.800,86.310,89.000,104.950,117.060
Media144,111.520,93.640,95.990,116.820,124.640,95.270,117.730,104.050,92.370,85.350,105.470,95.870,100.380,88.240,85.500,103.050,121.000
Media147,113.410,99.190,97.600,156.410,128.460,94.200,110.130,104.610,93.450,85.580,117.300,94.410,94.450,93.210,83.360,96.060,113.460
Media150,106.700,106.380,102.500,135.610,122.660,101.530,119.300,109.790,98.150,92.590,104.530,100.340,107.200,93.770,97.500,107.870,125.880
Media153,115.440,99.800,104.260,132.310,116.640,100.930,120.400,110.290,97.430,91.820,108.540,108.890,111.980,96.800,98.760,106.300,136.130

In [7]:
lista = [
    "X2023T4", "X2023T3", "X2023T2", "X2023T1",
    "X2022T4", "X2022T3", "X2022T2", "X2022T1",
    "X2021T4", "X2021T3", "X2021T2", "X2021T1",
    "X2020T4", "X2020T3", "X2020T2", "X2020T1",
    "X2019T4", "X2019T3", "X2019T2", "X2019T1",
    "X2018T4", "X2018T3", "X2018T2", "X2018T1",
    "X2017T4", "X2017T3", "X2017T2", "X2017T1",
    "X2016T4", "X2016T3", "X2016T2", "X2016T1",
    "X2015T4", "X2015T3", "X2015T2", "X2015T1",
    "X2014T4", "X2014T3", "X2014T2", "X2014T1",
    "X2013T4", "X2013T3", "X2013T2", "X2013T1",
    "X2012T4", "X2012T3", "X2012T2", "X2012T1",
    "X2011T4", "X2011T3", "X2011T2", "X2011T1"
]

In [8]:
df_medias = df_copy[156:]
df_medias["Trimestre"] = lista

C:\Users\victo\AppData\Local\Temp\ipykernel_19304\97067693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_medias["Trimestre"] = lista

In [9]:
#Volvemos a hacer lo mismo de antes
df_medias.set_index("Trimestre", inplace=True)
df_medias.rename_axis(None, inplace=True)

In [10]:
nombres = [
    "Andalucía",
    "Aragón",
    "Asturias, Principado de",
    "Balears, Illes",
    "Canarias",
    "Cantabria",
    "Castilla y León",
    "Castilla - La Mancha",
    "Cataluña",
    "Comunitat Valenciana",
    "Extremadura",
    "Galicia",
    "Madrid, Comunidad de",
    "Murcia, Región de",
    "Navarra, Comunidad Foral de",
    "País Vasco",
    "Rioja, La"]

In [11]:
df_medias.columns = nombres
df_medias.head()

,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,Comunitat Valenciana,Extremadura,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La"
X2023T4,98.26,105.33,92.15,102.32,115.27,93.40,103.42,107.50,99.79,91.71,102.80,103.44,109.56,94.21,96.29,100.72,95.22
X2023T3,101.49,100.99,87.70,121.29,114.44,86.53,87.75,105.34,94.25,93.78,118.02,86.54,104.77,98.78,89.60,90.46,86.83
X2023T2,102.21,112.42,91.13,116.34,106.91,99.14,100.85,101.25,102.70,104.76,99.36,96.84,110.34,98.08,103.15,104.20,95.44
X2023T1,98.17,109.42,97.59,104.08,107.80,103.80,106.95,106.31,103.36,106.53,103.75,102.25,111.94,93.04,104.18,107.01,102.97
X2022T4,101.65,102.07,96.36,100.58,106.58,98.39,100.16,106.98,99.65,102.01,89.84,101.07,110.10,95.37,102.48,102.15,98.27

In [225]:
#df_medias.to_csv("ipi_tirmestre.csv")

In [13]:
import os
import pandas as pd
import re

# Ruta de la carpeta que quieres leer
ruta_carpeta = "C:/Users/victo/OneDrive/Escritorio/PROY II/CCAA_3"

# Obtener una lista de los archivos en la carpeta
archivos = os.listdir(ruta_carpeta)

# Crear un DataFrame vacío para almacenar los datos
dataframe = pd.DataFrame()
tipo = ["_Generación", "_Demanda"]
# Iterar sobre la lista de archivos
for archivo in archivos:
    ruta_archivo = os.path.join(ruta_carpeta, archivo)
    # Leer el archivo CSV y agregar una columna nueva con el nombre del archivo
    df = pd.read_csv(ruta_archivo)
    archivo = re.findall(r'([A-Z]\w+[a-z].+)_genvsdem', archivo)[0]
    df['Comunidad Autonoma'] = archivo
    
    # Concatenar el DataFrame actual al DataFrame principal
    dataframe = pd.concat([dataframe, df], ignore_index=True)

#Concatenamos la columna de Comunidad Autónoma (donde pone el nombre de cada Comunidad Autónoma) con el tipo de dato "Unnamed: 0" (Generación/Demanda)
dataframe['Comunidad Autonoma'] = dataframe['Comunidad Autonoma'].str.cat(dataframe['Unnamed: 0'], sep='_')

# Elminamos la primera columna para que nos sea más sencillo al análisis
dataframe = dataframe.drop(columns=['Unnamed: 0'])

In [14]:
dataframe.head()

,2013M01,2013M02,2013M03,2013M04,2013M05,2013M06,2013M07,2013M08,2013M09,2013M10,...,2023M04,2023M05,2023M06,2023M07,2023M08,2023M09,2023M10,2023M11,2023M12,Comunidad Autonoma
0,3206541.927,2783783.423,2762138.862,2255280.845,2435070.998,2604388.707,3314556.001,3223978.067,2950008.958,3043495.299,...,2664199.058,2473338.948,3085442.987,3346356.033,3517235.783,3033079.486,2738413.853,1771663.988,1918648.344,Andalucía_Generación
1,3427297.594,3083174.576,3212191.344,2901513.809,2917381.049,2960957.060,3476416.085,3536562.116,3109624.421,2965423.344,...,2802474.285,2905687.652,3106325.349,3793414.124,3795853.556,3000871.058,2992272.489,2861437.757,3266684.600,Andalucía_Demanda
2,1360417.671,1409533.212,1211088.393,1240782.857,1583328.910,1633480.418,1594342.794,1350000.541,1371180.490,1262877.107,...,1801238.046,2303280.621,1818537.560,2070101.759,1929541.050,1391979.779,1389770.412,2057059.474,1911959.169,Aragón_Generación
3,898060.795,832999.627,864078.744,814430.915,814790.779,800025.236,878547.932,850802.308,823898.202,813542.588,...,758289.095,814033.867,800324.267,836873.828,794643.753,759679.293,763862.696,794897.198,812829.435,Aragón_Demanda
4,1274146.349,1191586.996,969205.272,726050.416,873778.586,889674.409,1302601.930,1065453.222,1236079.538,1436408.424,...,591778.447,599976.065,686822.993,629251.484,654924.531,690232.698,785713.082,798789.289,755513.730,"Asturias, Principado de_Generación"

In [15]:
# Trasponemos el dataframe para que tenga el aspecto de los que tratamos en R
genvsdem = dataframe.set_index('Comunidad Autonoma').T

# Reestablecemos el índice para tener los meses en una columna (que se llamará "X")
genvsdem.reset_index(inplace=True)
genvsdem.rename(columns={'index': 'X'}, inplace=True)
#Ponemos a nula o None la columna con los índices, porque al transponerlo se nos quedaba con el nombre de "Comunidad Autonoma", para evitar mal
#interpretados
genvsdem.columns.name = None

In [16]:
#Después de comprobar que los valores coinciden con los originales para las CCAA, es decir de que no se han visto alterados ni modificados
#Vamos a calcular la media total cada 4 meses para sacarlo por trimestre
genvsdem.head()

,X,Andalucía_Generación,Andalucía_Demanda,Aragón_Generación,Aragón_Demanda,"Asturias, Principado de_Generación","Asturias, Principado de_Demanda","Balears, Illes_Generación","Balears, Illes_Demanda",Canarias_Generación,...,"Madrid, Comunidad de_Generación","Madrid, Comunidad de_Demanda","Murcia, Región de_Generación","Murcia, Región de_Demanda","Navarra, Comunidad Foral de_Generación","Navarra, Comunidad Foral de_Demanda",País Vasco_Generación,País Vasco_Demanda,"Rioja, La_Generación","Rioja, La_Demanda"
0,2013M01,3206541.927,3427297.594,1360417.671,898060.795,1274146.349,916680.371,336432.458,445255.331,732193.363,...,136511.226,2891002.527,518320.717,729942.927,436597.374,425589.937,618263.506,1541127.092,239067.125,158742.347
1,2013M02,2783783.423,3083174.576,1409533.212,832999.627,1191586.996,867681.176,332464.337,423302.576,659622.834,...,137969.661,2595560.547,482728.365,664760.521,435773.505,397391.490,578414.297,1453298.985,172878.981,144191.132
2,2013M03,2762138.862,3212191.344,1211088.393,864078.744,969205.272,926356.599,339852.945,424149.882,710430.058,...,154809.491,2600432.394,480395.127,677454.887,444013.254,401589.864,540445.668,1489392.103,133183.114,147648.059
3,2013M04,2255280.845,2901513.809,1240782.857,814430.915,726050.416,871409.110,308355.552,396589.997,696165.884,...,155291.188,2325172.226,432303.934,638919.963,487860.192,385948.972,417594.725,1416858.772,135272.338,135652.581
4,2013M05,2435070.998,2917381.049,1583328.910,814790.779,873778.586,868805.573,357356.462,441050.414,702600.676,...,145387.250,2246814.627,473912.420,636011.008,488775.722,401388.602,541140.280,1410943.420,144515.032,135466.656

In [17]:
# Hacemos un mismo dataframe como con el IPI, pero en este caso obviando la columna llamada "X" porque contiene los caracteres X2011M01 que se refieren
# a los meses...
genvsdem_copy = genvsdem.copy()
for i in range(0, len(genvsdem), 3):
    df_temporal = genvsdem.iloc[i:i+3, 1:]
    column_means = df_temporal.mean().round(2)
    genvsdem_copy.loc[f"Media{i}"] = column_means

#Aquí cogemos los valores de los trimestres de nuestra lista, que tienen el formato "X2013T2", desde el 2013 hasta 2023 que es el rango de valores
# de nuestros datos
lista = lista[:44]
lista.sort()

In [19]:
#Asignamos a genvsdem los valores trimestrales hallados arriba (que son a partir de la 132aba columna)
genvsdem = genvsdem_copy[132:]
genvsdem.loc[:,"X"] = lista

C:\Users\victo\AppData\Local\Temp\ipykernel_8776\678969693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genvsdem.loc[:,"X"] = lista

In [20]:
#Ahora sí que comprobamos que tiene sentido los resultdos obtenidos para cada uno de los tirmestres, con todo esto podemos guardar ya el dataframe
# y dejarlo preparado para que lo podamos leer en R
genvsdem.head()

,X,Andalucía_Generación,Andalucía_Demanda,Aragón_Generación,Aragón_Demanda,"Asturias, Principado de_Generación","Asturias, Principado de_Demanda","Balears, Illes_Generación","Balears, Illes_Demanda",Canarias_Generación,...,"Madrid, Comunidad de_Generación","Madrid, Comunidad de_Demanda","Murcia, Región de_Generación","Murcia, Región de_Demanda","Navarra, Comunidad Foral de_Generación","Navarra, Comunidad Foral de_Demanda",País Vasco_Generación,País Vasco_Demanda,"Rioja, La_Generación","Rioja, La_Demanda"
Media0,X2013T1,2917488.07,3240887.84,1327013.09,865046.39,1144979.54,903572.72,336249.91,430902.60,700748.75,...,143096.79,2695665.16,493814.74,690719.44,438794.71,408190.43,579041.16,1494606.06,181709.74,150193.85
Media3,X2013T2,2431580.18,2926617.31,1485864.06,809748.98,829834.47,850740.98,344011.12,438924.28,693881.80,...,145718.62,2266652.46,445165.50,646864.03,479141.85,389731.52,494212.81,1380924.44,134951.42,132004.73
Media6,X2013T3,3162847.68,3374200.87,1438507.94,851082.81,1201378.23,833359.12,449148.85,588102.98,745477.10,...,130648.21,2395959.54,507070.91,729860.00,363294.69,386362.35,566436.13,1235943.61,109915.28,138422.35
Media9,X2013T4,3028478.74,3149460.00,1373638.05,841558.54,1359941.93,883677.82,336711.45,431027.67,726392.53,...,123987.90,2508270.98,502097.55,699781.05,457558.69,408041.86,509388.39,1405499.72,217324.61,145739.55
Media12,X2014T1,2391248.21,3212319.72,1161297.70,861900.64,890826.39,900593.31,316603.24,407874.53,694348.55,...,123602.76,2573808.57,429200.23,685705.86,397904.04,418467.59,414555.05,1493272.82,140702.88,146715.72

In [233]:
#genvsdem.to_csv("genvsdem_total.csv")